.ProgressBar {
  background: #e4e4e4;
  border-radius: 2px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.5;
  overflow: hidden;
  position: relative;
  text-align: left;
  overflow: hidden;
}
.ProgressBar__container {
  position: relative;  
  background-color: gray;
  padding: 0 1rem;
}
.ProgressBar__value {
  position: relative;
  color: white;
  z-index: 1;
}
.ProgressBar__bar {
  position: absolute;  
  top: 0;
  left: 0;  
  background-color: orange ;
  height: 100%;
}
